main {
  flex: 1 calc(100vh - 110px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.new-tournament {
    margin-right: 5%;
}

.join-tournament {
    margin-left: 5%;
}

.btn {
    margin-top: 0.5em;
    align-self: center;
}

form {
    margin-bottom: 20%;
    display: flex;
    flex-direction: column;
}

menu {
  flex: 1;
  display: flex;
  flex-direction: row !important;
  list-style: none;
}

.navbar-brand {
  padding-left: 0.3em;
  border-bottom: solid rgb(182, 182, 182) thin;
}

menu .nav-item {
  padding: 0 0.3em;
}

footer a {
  float: right;
}

@media (max-height: 600px) {
  header {
    display: none;
  }
  footer {
    display: none;
  }
  main {
    flex: 1 100vh;
  }
}